body {
	background:url(../img/furley_bg.png);
}
.name {
	text-align: center;
	text-shadow: 2px 1px 1px rgba(0, 0, 0, 0.15);
}

.last, .first {
  color: #000;
  position:absolute;
}
.last {
  margin-left:100px;
}